@using ItalTech.Areas.Progettazione.Models;

@model InputRicercaProgetti

@{
    var listaProgetti = (List<Progetto>)ViewBag.ListaProgetti; @*!= null ? ViewBag.ListaProgetti : null;*@
}

<h3 class="text-center text-secondary">Archivio Progetti</h3>

<section class="bg-light">
    <div class="container">
        <form class="form-group" asp-action="ArchivioProgetti" method="post">
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label asp-for="Codice"></label>
                    <input type="text" class="form-control" asp-for="Codice" />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label asp-for="NomeProgetto"></label>
                    <input type="text" class="form-control" asp-for="NomeProgetto" />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label asp-for="DataInizio"></label>
                    <input type="date" class="form-control" asp-for="DataInizio" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label asp-for="Tipo"></label>
                    <input type="text" class="form-control" asp-for="Tipo" />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label asp-for="ProjectManager"></label>
                    <input type="text" class="form-control" asp-for="ProjectManager" />
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label asp-for="Cliente"></label>
                    <input type="text" class="form-control" asp-for="Cliente" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                    <input class="btn btn-info" type="submit" value="Cerca" />
                </div>
            </div>
        </form>
    </div>
</section>
@if (listaProgetti != null)
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Codice</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Nome Progetto</th>
                <th>Descrizione</th>
                <th>Costo Previsto</th>
                <th>Costo Finale</th>
                <th>Analisi Mercato</th>
                <th>Tipo</th>
                <th>Cliente</th>
                <th>Project Manager</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var elem in listaProgetti)
                {
                    <tr>
                        <td>
                            <label class="control-label">@elem.Codice</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.DataInizio.ToString("dd/MM/yyyy")</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.DataFine</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.NomeProgetto</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.Descrizione</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.CostoPrevisto</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.CostoFinale</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.CodiceAnalisiMercato</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.Tipo</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.Cliente</label>
                        </td>
                        <td>
                            <label class="control-label">@elem.ProjectManager</label>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
}
