@model Pagination
@using ItalTech.Models.Paginate;
@using ItalTech.ExtensionMethods; 


@{ 
    var numPagesAfterCurrent = 3; //NUMERO DI PAGINE DA FAR VISUALIZZARE SULLA BARRA PRIMA E DOPO QUELLA CORRENTE

    if (Model == null || Model.ParametriRicerca == null)
        return;
    var parametriRicercaString = Model.ParametriRicerca.GetDictionaryStrings();
    var queryString = "";
    var count = 0;
    foreach (var elem in parametriRicercaString)
    {
        if (count > 0)
        {
            queryString += "&";
        }
        if (elem.Key == "page")
            continue;
        queryString += elem.Key + "=" + elem.Value;
        count++;
    }
    var url = "/" + Model.Route.Area + "/" + Model.Route.Controller + "/" + Model.Route.Action + "?" + queryString + "&page=";
    var javascriptMethod = string.IsNullOrEmpty(Model.JavascriptNavigationMethod) ? "" : Model.JavascriptNavigationMethod;
}

@if (Model.ItemsPerPage < Model.TotalItems) 
{
<nav aria-label="Paginazione">
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage - 10 > 1)
        {
            <li class="page-item">
                <a class="page-link" onclick="barNavigateToNewPage(@(Model.CurrentPage-10))" href="#" title="Indietro di 10 pagine">&lt;&lt;</a>
            </li>
        }
        @* TASTO PREVIOUS TRANNE QUANDO SIAMO ALLA PRIMA PAGINA *@
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" onclick="barNavigateToNewPage(@(Model.CurrentPage-1))" href="#" title="Pagina precedente">&lt;</a>
            </li>
        }
        @* TASTO DIRETTO ALLA PRIMA PAGINA QUANDO LA CORRENTE è OLTRE IL NUM DI PAGINE CHE SI VOGLIONO VISUALIZZARE (numPagesAfterCurrent) *@
        @if (Model.CurrentPage > numPagesAfterCurrent + 1)
        {
            <li class="page-item">
                <a class="page-link" onclick="barNavigateToNewPage(1)" href="#" title="Pagina 1">1</a>
            </li>
        }
        @*VISUALIZZAZIONE DI "..." QUANDO LA CORRENTE è OLTRE IL NUM DI PAGINE CHE SI VOGLIONO VISUALIZZARE PIù LA PRIMA PAGINA*@
        @if (Model.CurrentPage > numPagesAfterCurrent + 2)
        {
            <li class="page-item">
                <a class="page-link" href="#">...</a>
            </li>
        }
        @* GESTIONE DELLE PAGINA CON EVIDENZIAZIONE DELLA PAGINA CORRENTE (il numPagesAfterCurrent nel FOR indica il numero pag prima e dopo la current) *@
        @for (int p = Math.Max(1, Model.CurrentPage - numPagesAfterCurrent); p <= Math.Min(Model.TotalPages, Model.CurrentPage + numPagesAfterCurrent); p++)
        {
            var active = p == Model.CurrentPage ? "active" : "";
            <li class="page-item @active">
                <a class="page-link" onclick="barNavigateToNewPage(@p)" href="#" title="Pagina @p">@p</a>
            </li>
        }
        @* VISUALIZZAZIONE DI "..." TRANNE QUANDO CI AVVICINIAMO ALL'ULTIMA PAGINA *@
        @if (Model.TotalPages > Model.CurrentPage + numPagesAfterCurrent + 1)
        {
            <li class="page-item">
                <a class="page-link" href="#">...</a>
            </li>
        }
        @* TASTO DIRETTO ALL'ULTIMA PAGINA TRANNE QUANDO CI AVVICIAMO AD ESSA *@
        @if (Model.TotalPages > Model.CurrentPage + numPagesAfterCurrent)
        {
            <li class="page-item">
                <a class="page-link" onclick="barNavigateToNewPage(@Model.TotalPages)" href="#" title="Pagina @Model.TotalPages">@Model.TotalPages</a>
            </li>
        }
        @* TASTO NEXT TRANNE QUANDO SIAMO ALL'ULTIMA PAGINA *@
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" onclick="barNavigateToNewPage(@(Model.CurrentPage+1))" href="#" title="Pagina successiva">&gt;</a>
            </li>
        }
        @if (Model.CurrentPage + 10 < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" onclick="barNavigateToNewPage(@(Model.CurrentPage+10))" href="#" title="Avanti di 10 pagine">&gt;&gt;</a>
            </li>
        }
    </ul>
</nav>

<script type="text/javascript">
    function barNavigateToNewPage(page) {
        var url = '@Html.Raw(url)' + page;
        @if(javascriptMethod != "")
        {
            <text>@javascriptMethod (url);</text>
        }
        else
        {
            <text>document.location.href = url;</text>
        }
    }
</script>
}
